.homeWrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../images/scribble-light.png');
    background-color: #1985a1;
};

.homeContainer {
    height: 20vh;
    width: 80%;
    border: 3px solid black;
    background-color: white;
}

h1 {
    padding: 2% 0% 0% 0%;
    font-family: "Dosis", sans-serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    word-spacing: 1px;
    color: rgb(255, 255, 255);
}

.underliner {
    margin: 0 auto;
    margin-bottom: 2%;
    width: 23%;
    border-top: 2px solid white;
}

.photoWrapper {
    margin: 0 auto;
    width: 15%;
}
.photo{
    border: 2px solid white;
    border-radius: 100px;
    width: 100%;
    animation-duration: 2s; 
    animation-fill-mode: both; 
    animation-timing-function: ease-in; 
}

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    animation-name: fadeIn; 
}

h3 {
    padding: 2%;
    font-size: 35px;
    color: #c5c3c6;
    font-family: "Dosis", sans-serif;
}


